# openai-compability
MAIN_MODEL_ENGINE="openai"
MAIN_MODEL_BASE_URL="https://api.openai.com/v1"
OPENAI_API_KEY="your-openai-api-key"

# local model provider without api auth
# MAIN_MODEL_ENGINE="vllm"  or "llamacpp"
# MAIN_MODEL_BASE_URL="http://localhost:8000/v1"